@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    @apply w-full block overflow-hidden
}

h1 {
    @apply text-4xl
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}

.wrapper {
    @apply mx-10 sm:mx-20 md:mx-36 lg:mx-44 mt-10 mb-48 relative text-gray-50
}

.service-type {
    @apply w-64 h-64 p-5 bg-tertiary hover:bg-tertiary_accent
}



.btn-download {
    @apply w-44 p-2 text-gray-50 font-semibold bg-tertiary 
        hover:bg-gray-50 hover:text-tertiary 
        transition duration-300 ease-in-out
}

.btn-projects {
    @apply w-12 p-1 text-gray-50 bg-tertiary
}

.nav-link {
    @apply border-secondary border-opacity-0 
            hover:border-opacity-100 hover:border-b-2 hover:pb-4 
            transition duration-300 ease-in
}


@layer components {

    html {
        scroll-behavior: smooth;
    }
    
    .diamond-clip {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    .service-type > img {
        margin-top: 0.5rem;
        margin-bottom: 1.75rem;
        margin-left: auto;
        margin-right: auto;
        filter: invert(83%) sepia(51%) saturate(0%) hue-rotate(17deg) brightness(111%) contrast(101%);
    }

    .projects-type {
        display: grid;
        grid-template-rows: 50px auto auto;
    }
}